
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost",sans-serif;
    /* border: .3rem solid red; */
}

:root{
    --black:#000;
    --white:#ffff;
    --gray:#F4F4F4;
    --golden-hour:#F1B555;
    --antique-brown:#9b281a;
}

/* BASIC STYLING */

a{
    text-decoration: none;
    color: var(--black);
}

li{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.wrapper{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.2rem;
}
.golden-bg{
    background: var(--golden-hour);
}
.brown-bg{
    background: var(--antique-brown);
}
img{
    max-width: 100%;
    height: auto;
}
.mt{
    margin-top: 3.5rem;
}
.p-b{
    padding-block: 3.5rem;
}
.gap{
    gap:2rem;
}
.gap-3{
    gap:3rem;
}

/* HEADER PART */
.navbar{
    height: 13vh;
    position: relative;
}
.nav-icons{
    gap:1.5rem;
}
.icons{
    font-size: 1.3rem;
}
.logo{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.navlist{
    background: var(--antique-brown);
    position: absolute;
    top: 100px;
    right: 150px;
    width: 15rem;
    z-index: 5;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: .6sec ease-in-out;
}
.navlist .link{
    color: var(--white);
    font-size: 1.1rem;
}
.navlist-active{
    right: 0;
    opacity: 1;
    visibility: visible;
}

/* SECTION */

 /* <!-- Hero section --> */
.hero-section{
    height: 60vh;
    justify-content: center;
    position: relative;
}
.hero-section::before{
    content: "";
    position: absolute;
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gray);
    z-index: -1;
    left: 100px;
    top: 0;
}
h1{
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
}
span{
    font-weight: bold;
}
.big-para{
    font-size: 1.8rem;
    font-weight: 300;
}
.btn{
    color: var(--white);
    padding: .7rem 2rem;
    font-size: .9rem;
    border-radius: 5rem;
    text-transform: uppercase;
    display: block;
    justify-self: flex-start;
    transition: .6s ease-in-out;
}
.hero-content .btn{
    justify-self: flex-end;
}
.btn:hover{
    background: var(--black);
}
.hero-img{
    width: 50vw;
}

/* Category Section */
.h3-heading{
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: uppercase;
}
.category-card{
    flex: 1;
    flex-basis: 300px;
    height: 30rem;
    background: var(--gray);
    border-radius: 1.5rem;
    position: relative;
    transition: transform .7s ease-in-out;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.h5-heading{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);

}
.simple-icon{
    font-size: 1.1rem;
    color: var(--white);
    width: 35px;
    aspect-ratio: 1;
    border-radius: 5rem;
    text-align: center;
    line-height: 35px;
    transition: all .6s ease-in-out;
}
.category-card .flex{
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding-inline: 1.5rem;
}

.category-card::before{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.4);
}

.category-card:nth-child(1){
    background-image: url(/images/category1.jpg);
}
.category-card:nth-child(2){
    background-image: url(/images/category2.jpg);
}
.category-card:nth-child(3){
    background-image: url(/images/category3.jpg);
}
.category-card:nth-child(4){
    background-image: url(/images/category4.jpg);
}
.category-card:hover .simple-icon{
    background: var(--golden-hour);
    transform: rotateZ(-50deg);   
}

/* Section Bed */

.h2-heading{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 100%;
    max-width: 870px;
}

.gradient-txt{
    background: linear-gradient(
        90deg,
        var(--golden-hour),
        #4e1806
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin: auto;
}

.bed-img{
    width: 70vw;
    margin-inline: auto;
    position: relative;
}
.h6-heading{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.2rem;
}
.small-para{
    font-size: .85rem;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: .7rem;
}
.simple-icon:hover{
    scale: 1.5;
}
.price{
    color: var(--antique-brown);
}
del{
    color: var(--black);
}
.bed-detail{
    background: rgba(240,240,240,0.4);
    max-width: 280px;
    position: absolute;
    top:45px;
    right:45px;
    padding: 1.3rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
}

/* product section */
.brown-txt{
    color: var(--antique-brown);
    font-weight: 400;
}
.avg-para{
    font-size: 1.06rem;
    color: rgba(0,0,0,0.7);
    font-weight: 300;
    text-transform: capitalize;
    max-width: 600px;
    margin-bottom:1rem ;   
}
.product-card{
    flex:1;
    transition: all .6s ease-in-out;
    flex-basis: 240px;
}
.product-img{
    /* width: 25rem; */
    height: 20rem;
    background: var(--gray);
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}
small{
    font-size: .7rem;
    color: var(--black);
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
}
.product-img .btn{
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    width: 160px;
}
.product-card:hover .product-img .btn{
    bottom: 20px;
}
.center-btn{
    justify-self: center;
}

/* ABOUT SECTION */
.about-img{
    background-color: #F1B555;
    width: 32rem;
    height: 37rem;
    border-radius: 1.7rem;
    position: relative;
    transform: rotateZ(3deg);
    margin-left: 10rem;
    background-image: url(/images/living-room.jpg);
    background-position: center;
    background-size: cover;
}
.about-img::before{
    content: '';
    background: blue;
    position: absolute;
    height: 22rem;
    width: 17rem;
    border-radius: inherit;
    top:50%;
    transform: translateY(-50%) rotateZ(-8deg);
    left: -100px;
    background-image: url(/images/bedroom.jpg);
    background-position: inherit;
    background-size: inherit;
}

.about p{
    color: var(--antique-brown);
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 500;
}
.about .h2-heading{
    max-width: 580px;
    margin-top: .8rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

/* Fix section styling */
.fix-section{
    background-image: url(/images/fix-bg.jpg);
    background-repeat: no-repeat;
    backdrop-filter: blur(15px);
    position: relative;
    isolation: isolate;
    background-attachment: fixed;
    margin-bottom: 3rem;
}
.fix-section::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
    backdrop-filter: blur(15px);

}
.fix-section *{
    color: var(--white);
}
.fix-section .h2-heading{
    font-size: 3.7rem;
    max-width: 600px;
    font-weight: 400;
}
.fix-section .avg-para{
    margin-top: .8rem;
    margin-bottom: 3rem;
    color: rgba(255,255,255,0.7);
}
.fix-section .btn{
    background: var(--white);
    color: #000;
}
/* REVIEW SECTION STYLE */
.review-card .h5-heading{
    color: var(--black);
    margin-bottom: 1rem;
}

.review-card {
    flex:1;
    flex-basis: 300px;
    text-align: center;
    background: linear-gradient(
        to top,
       var(--gray) 75%,
       var(--white) 20%
    );
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.review-card .profile{
    width: 7rem;
    color: var(--white);
    aspect-ratio: 1;
    border: .4rem solid var(--white);
    margin-bottom: 1rem;
    border-radius: 5rem;
    background-repeat: no-repeat;
   overflow: hidden;

}

.review-card .profile img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}

/* Srvices styling */
.service-card{
    background: var(--gray);
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    height: 12vh;
    flex-basis: 350px;
    flex:1;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.double-color-bg{
    background: linear-gradient(  
        to top,
        #f1b555b3 50%,
        var(--white) 50%
    );
}
.service-card .h5-heading{
    color: var(--black);
    font-size:1.1rem ;
    font-weight: 500;
    margin-bottom: .6rem;
}
.service-card .service-icon{
    font-size: 1.9rem;
    color: var(--antique-brown);
}

/* Footer */
.footer-bg{
    background: gold;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/footer-bg.jpg);
    position: relative;
    isolation: isolate;
}
.footer-bg::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
    backdrop-filter: blur(15px);
}
.footer-bg *{
    color: var(--white);
}
.footer-wrapper .h3-heading{
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 100%;
    margin-block: 1.8rem;
}

.input-container{
    max-width: 300px;
    height: 2.7rem;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 5rem;
    padding-left: 1.2rem;
    padding-right: .4rem;
    display: flex;
    align-items: center;
}
.input-container input[type="email"]{
    flex:1;
    background: transparent;
    font-size: 1rem;
    color: var(--white);
    border: none;
}
.input-container input[type="email"]:focus{
    outline: none;
}

.input-container input[type="email"]::placeholder{
    color: var(--white);
}
.social-icons{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    font-size: 1.25em;
}
.footer-bg .flex{
    align-items: flex-start;
}
.footer-wrapper{
    flex:1;
}
.footer-wrapper:nth-child(1){
    flex: 2;
}
.footer-wrapper .h6-heading{
    font-weight: 400;
    margin-bottom: .8rem;
}
.footer-link{
    font-size: 1rem;
    display: block;
    margin-bottom: .7rem;
    text-transform: capitalize;
    font-weight: 300;
}
.contact .footer-link{
    text-decoration: .1rem underline var(--gray);
    text-underline-offset: 5px;
}
.copyright{
    padding-block: 2rem;
    background: #54463f;
}
.copyright p{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}

@media screen and (max-width:650px) {
    
    .h1-heading{
        font-size: 5rem;
    }
    .big-para{
        font-size: 1.5rem;
    }
    .hero-img{
        width: 27rem;
    }

    .hero-section::brfore{
        left:0;
        width: 18rem;
        top:100px;
    }
    .h2-heading{
        font-size: 2.3rem;
    }
    .bed-img{
        width: 30rem;
    }
    .bed-detail{
        opacity: 0;
        visibility: hidden;
        transition: all .6s ease-in-out;

    }
    .bed-img:hover .bed-detail{
        opacity: 1;
        visibility: visible;
    }
    .about-img{
        width: 25rem;
        height: 25rem;
        margin-left: 6rem;
    }
    .about-img::before{
        width: 16rem;
        height: 15rem;
        aspect-ratio: 1;
    }
    .fix-section .h2-heading{
        font-size: 2.7rem;
        width: 100%;
    }
    .avg-para{
        font-size:.95rem;
    }
    
}





